// Ceci est un début de code, vous pouvez vous en inspirez pour commencer ou bien repartir à zéro!

// Import des variables et fonctions nécessaires

@import 'components/variables';
@import 'components/functions';


body{
  background-color: color(bg-main);
  display: grid;
  place-items: center;
}

.main-container{
  max-width: value(width-container);
}