
// Ceci est un début de code, vous pouvez vous en inspirez pour commencer ou bien repartir à zéro!

// Import des variables et fonctions nécessaires

@import 'components/variables';
@import 'components/functions';



body{
  background-color: color(bg-main);
  display: grid;
  place-items: center;
}

.main-container{
  max-width: value(width-container);
}

/* mon code */


body{
  background-color: $bg-color;
}

.main-container{
  width: map-get($values, width-div);
  height: map-get($values, height-div);
  border: chartreuse 5px solid;
  margin-top: 20px;

}




.left-container{

  display: flex;
  align-items:center ;
  /*justify-content:center;*/
  height: 100vh;
}
.section-left-article{
  position:absolute;
  align-items:center ;
  justify-content:left;
  height: 370px;
  width:95%;
  max-width: 800px;
  margin:30px;
  background:white;
  border-radius: 25px;
  box-shadow: 0 10px 50px rgba(252, 56, 56,.3);
  top: 50%;
    color: #0d0925;
    z-index: 11;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#Category{

}
h4{

}
