
// Ceci est un début de code, vous pouvez vous en inspirez pour commencer ou bien repartir à zéro!

// Import des variables et fonctions nécessaires

@import 'components/variables';
@import 'components/functions';


body{
  background-color: color(bg-main);
  display: grid;
  place-items: center;
}

.main-container{
  max-width: value(width-container);
}
body{
  background-color:#33264E ;
}
/* mon code */


body{
  background-color: $bg-color;
}
div.couleur{
  color: map-get($colors, primary);
  background-color: map-get($colors, secondary);
}
p{
  color: $color-text;
}
span{
  color: $span-color;
}
div{
  border: $color-text $border-style $border-width;
}
div > .min{
  color: $color-text2;
  padding-left: 10px;
  padding-right: 10px;

}
.main-container{
  width: map-get($values, width-div);
  height: map-get($values, height-div);
  border: green solid 3px;
  margin-top: 20px;

}
/* avec le map-get TABLEAU DE VALEURS */
.main-container p{
  color: map-get($colors, primary);
  background-color: map-get($colors, secondary);
  font-family: map-get($values, police);
}
/* avec les FONCTIONS */
.little-container{
  color: color(primary);

}

