/*============ . circle Section ============*/


.article-description h2::before {
  content: '';
    height: Auteurs-deco(height-Deco);
    width: Auteurs-deco(width-Deco) ;
    background-color: #27CC81;
    border-radius: 50%;
    display: inline-block;
    margin-right: .5rem;
    margin: 2px 8px 2px 0;
  }

  /*============ . circle Section ============*/
  h5::after {

  content: "";
    width: Category( width-h5);
    height:Category( height-h5);
    background-color:Category(bg-category);
    display: inline-block;
    transform: rotate(45deg);
    margin-left: .8rem;
    // margin: 2px 8px 2px 0;
   margin: 2px 10px 4px 8px;
}




  /*============ . circle Section ============*/
  h3::before {

    content: "";
      width: 10px;
      height: 10px;
      background-color: #EE3E52;
      display: inline-block;
      transform: rotate(45deg);
      // margin-left: .8rem;
      margin: 2px 8px 2px 0;



    }
/*============ . circle Section ============*/
    //  h4::after {

    //    content: "";
    //      width: 300px;
    //     border-top: 3px solid #EE3E52;
    //      display: inline-block;
    //     margin-top: -14px;
    //     margin-left: 9.8rem;



    //    }

      /*============ . Blogs Categorie bubulles ============*/
.Cat-1 h6::before {
  background-color:colors(cat1);



}
.Cat-2 h6::before {
  background-color:#5567da;
}
.Cat-3 h6::before {
  background-color:#1e88e5;
  display: inline-block;

}
.Cat-4 h6::before {
  background-color:#27CC81;
}
.Cat-5 h6::before {
  background-color:#38c4d1;
}
.Cat-6 h6::before {
  background-color:#e91e63;
}

.Section-Categories h6::before {


  content: '';
    height:circle(height-circle);
    width:circle(width-circle);
    margin:circle(margin-circle);
    font-family:font(texte);
  // background-color: #27CC81;
  //  background:colors(cat1);
    border-radius: 50%;
    display: inline-block;
    margin-right: .5rem;

  }

  @mixin Section-Categories{
    content:'';
     display: inline-block;
      width: 8px;
       height: 8px;
       border-radius: 50%;
       margin: 2px 8px 2px 0;
       font-family: font(texte);
      }

  .Article {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    box-shadow: 0 10px 50px rgba(252, 56, 56, 0.3);
}

 .Section-Categories{
  width:100%;
   display:flex;
   justify-content:center;
   background:#33264E;
   margin-bottom:2rem;
  //  justify-content:right;
      /*height: 370px;*/
   max-width: 300px;
  margin:30px;

   }
.category{
  &.Cat-1 h6::before{
  background-color: colors(cat1);
  @include Section-Categories;
  }
  &.Cat-2 h6::before{
    background-color: colors(cat2);
    @include Section-Categories;
    }
    &.Cat-3 h6::before{
      background-color: colors(cat3);
      @include Section-Categories;
      }
      &.Cat-4 h6::before{
        background-color: colors(cat4);
        @include Section-Categories;
        }

        &.Cat-6 h6::before{
          background-color: colors(cat6);
          @include Section-Categories;
          }

          &.Cat-5 h6::before{
            background-color: colors(cat5);
            @include Section-Categories;
            }



 }


// h4::after {
//   content: "";
//   width: 136px;
//   border-top: 3px solid #EE3E52;
//   display: inline-block;
//   margin-top: -14px;
//   margin-left: 9.8rem;
// }

h4::after {
  content: "";
  width: 170px;
  border-top: 1px solid #EE3E52;
  // display: inline-block;
  margin-left: 5.8rem;
  display:flex;
  align-content: center;
}