@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');

/*============ .  footer  bloc navigation============*/
.caractère-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  height: 250px;
  margin: 20px;
  background-color:#362953 ;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 50px rgba(252, 56, 56, 0.3);
}

/*============ .  footer  bloc navigation============*/

.footer-navigation {
 max-width: 1200px;
 margin: 0 auto;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
 text-align: center;
 -webkit-box-align: center;
-ms-flex-align: center;
 align-items: center;
}
/*============ .  footer  logoo============*/
.logo-footer1{
  font-family: "Vampiro One";
  font-size: 3rem;
  color: #ebebeb;
  text-align: center;
  margin-right: 5rem;
}
/*============ .  footer  nav menu============*/


a {
  text-decoration: none;
  color: #dadada;
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: .2rem;
}
.nav-menu {
 margin-bottom: 0;
}

.nav-menu a {
  padding: 0 .5rem;
}
.nav-menu .nav-items {
 margin-right: 6rem;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  margin:auto;
   width: 1200px;
   height: 200px;
  margin-bottom: 9rem;
  margin-top: 9rem;
   // border-bottom:white solid 1px
}

/*============ .  footer  left============*/

footer {
  height: 10vh;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
   align-items: center;
  border-top: 1px solid #777777;
 }
/*============ .  footer  left============*/



.footer-left {
  background: #362953;
  padding-bottom: 4rem;
  margin: 10px;
  height: 200px;
  justify-content: center;
  margin-bottom: 2rem;
  width: 30%;
  margin-right: 4rem;
  margin-left: 10px;
  // padding-bottom: 4rem;
  box-shadow: 0 10px 50px rgba(252, 56, 56, 0.3);
}

/*============ . Blogs footer left============*/
.footer-contact {
  max-width: 1200px;
  height: 300px;
  margin: 2rem auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 3rem;
}



/*============ . Blogs footer right============*/

.news-footer p {
  color: whitesmoke;
  font-size: .9rem;
}
.footer-right{
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: -5rem;
}



 h4{

     font-family: "Playfair Display";
     font-size: 1.5rem;
     font-weight: 800;
     color: #fff;
     margin-bottom: 1rem;
     letter-spacing: .1rem;
 }

.news-footer {
  margin-right: 2rem;
}

.news-footer p {
  color: whitesmoke;
  font-size: .9rem;
}

span {
  color: whitesmoke;
  font-family: "Playfair Display";
  font-size: 1rem;
}

/*============ . Blogs footer left contact============*/


/*============ . icons footer  contact============*/
.footer-contact i {
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Fontawesome" !important;
  font-style: normal;

}

.enter {
  width: 15rem;
  padding: 1rem 2rem;
  margin-left: 0;
  bottom: 0;
}
.ligne_left h4::after {
  content: "";
  width: 9rem;
  height: 2px;
  background-color: #EE3E52;
  display: inline-block;
  margin-left: .5rem;
  margin-bottom: 0.3rem;
}


