@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
// *{
//   margin: 0;
//   box-sizing: border-box;
// }
/*============ . HEADER===========*/
.header {

  display: flex;
  justify-content:space-between;

  align-items: center;

  width: 1200px;

  // border-bottom:white solid 1px

}

/*============ .LOGO ICONS===========*/





.menu-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
     margin-left: 6rem;
    margin-bottom: 2rem;
 }
 .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
  -ms-flex-pack: center;
    justify-content: center;
   -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
   margin-left: 5rem;
   margin-bottom: 2rem;
 }

// .nav-header ul {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: end;
//   -ms-flex-pack: end;
//  justify-content: flex-end;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   width: 200px;
// }

// .nav-header li {
//   margin: .3rem;
// }

.ligne-header {
  width: 1200px;
  height: 1px;
  background-color: #777777;
  margin: 3rem auto;
}
.search-icon {

  width:50px;
  height: 50px;
  border-radius: 100%;
}
.insta {

  width:50px;
  height: 50px;
  border-radius: 100%;
}
.pint {

  width:50px;
  height: 50px;
  border-radius: 100%;
}

.facebook{
  width:50px;
  height: 50px;
  border-radius: 100%;
}
.twitter{
  width:50px;
  height: 50px;
  border-radius: 100%;
}

.caractère {
  font-family: "Vampiro One";
  font-size: 3rem;
  color: #ebebeb;
  text-align: center;
  margin-right: 5rem;
}




.logo{
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  width: 30%;
}

/*============ .MENU HEADER CARACTERE===========*/
// .caractère{
//   width: 60%;
// }



// .logo2{
//   display: flex;
//   text-align: center;
//   font-size: 1.5rem;
//   width: 10%;
// }
// .caractère h1{
//   position: absolute;
//   left: 830px;
//   color: white;
//    top: 30px;
//    font-family:"Vampiro One";
//    font-size: 64px;
//  }
/*============ .SLIDER SECTION===========*/

#photo1 {
  padding-top: 20px;
  object-fit: cover;
  width: 1600px;
  height: 480px;
  margin-left: 100px;
}
#photo4{
  position: absolute;
  width: 40px;
  height: 35px;
  border-radius: 100%;
  left: 750px;
  top: 500px;
}
#john{
  position: absolute;
  left: 800px;
  color: white;
  top:510px;
  font-style: normal;;
  font-size: 18px;
}
#rosange{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 880px;
  background: magenta;
  top:520px;
  // border-radius: 100%;
  transform: rotate(45deg);
    margin: 2px 8px 2px 0;
}
#point{
  position: absolute;
  left: 835px;
  width: 10px;
  height: 10px;
  background:#27CC81;
  border-radius: 100%;
  top:353px;
}
#année{
  position: absolute;
  left: 900px;
  color: white;
  top:515px;
  font-style: normal;;
  font-size: 14px;
}
.photo h2{
  position: absolute;
  left: 560px;
  color: white;
  top:400px;
  font-style: normal;;
  font-size: 34px;

}
.photo h6{
  position: absolute;
  left: 850px;
  color: white;
  top:350px;
  font-style: normal;;
  font-size: 14px;
}

.carousel {
  background-image:url(img/photo/1.jpg),
  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: url(../images/pexels-lisa-fotios-1882410.jpg), linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1600px;
  height: 480px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.carousel .carousel-photo {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}



/*============ .SLIDER SECTION=BOUTTON==========*/

#submit-btn{
  position: absolute;
  width: 200px;
  height: 40px;
  background-color: magenta;
  left: 800px;
  color: white;
  top: 600px;
  font-style: italic;
  font-size: 24px;
}
/*============ .ICONS SECTION HEADER==========*/

/*============ .ICONS facebook==========*/



/*============ .ICONS twiter==========*/


/*============ .ICONS instagram==========*/


/*============ .ICONS pinterest==========*/

/*============ .ICONS reddit==========*/






//


// <header>
//         <div class="mainContainer">
//             <div class="header">
//                 <div class="header__social-left">
//                     <div class="btn-round icon brand facebook"></div>
//                     <div class="btn-round icon brand twitter"></div>
//                     <div class="btn-round icon brand instagram"></div>
//                     <div class="btn-round icon brand pinterest"></div>
//                 </div>
//                 <div class="header__logo">
//                     Creative
//                 </div>
//                 <div class="header__social-right">
//                     <div class="btn-round icon search"></div>
//                 </div>
//             </div>
//             <nav>
//                 <a href="#">Home</a>
//                 <a href="#">Article</a>
//                 <a href="#">Contact</a>
//                 <a href="#">About</a>
//             </nav>
//             <div class="breakline"></div>
//         </div>
//     </header>

header{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}
nav{
  text-align:center;
  margin:50px 0 0 0;
}
a{
  font-family: font(texte);
  color: color(texte);
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.2em;
  font-size: 18px;
  font-weight: 100;
  font-style: normal;
  margin: 0 15px;

  &:hover{
    color: color(link);
  }
}


.header{
  display: flex;
  flex-direction: row;
};


.header-left-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 33%;

}

.caractère{
  width: 33%;
  font-family: font(logo);
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  text-align: center;
}

.search-icon{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  width: 33%;

}