@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}
// body{
//   background-color:#33264E;
//   // height: 100vh;
// }
.header{
  display: flex;
  flex-wrap: wrap;
  margin:auto;
   width: 1200px;
   height: 200px;
  border-bottom:white solid 1px

}

.logo{
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  width: 30%;
}
// .caractère{
//   width: 60%;
// }
.logo2{
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  width: 10%;
}
// .photo{
//   padding-top: 20px;
//   width: 1600px;
//   height: 480px;
// margin-left: 200px;

//   background:url("image12/photo2.jpg");
//   background-size: cover;

// }
// #photo1{
//   object-fit: cover;
//   width: 1600px;
//   height: 480px;
//   margin-left: 200px;
// }
#photo1 {
  padding-top: 20px;
  object-fit: cover;
  width: 1600px;
  height: 480px;
  margin-left: 100px;
}
#photo4{
  position: absolute;
  width: 40px;
  height: 35px;
  border-radius: 100%;
  left: 750px;
  top: 500px;
}
#john{
  position: absolute;
  left: 800px;
  color: white;
  top:510px;
  font-style: normal;;
  font-size: 18px;
}
#rosange{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 880px;
  background: magenta;
  top:520px;
  // border-radius: 100%;
  transform: rotate(45deg);
    margin: 2px 8px 2px 0;
}
#point{
  position: absolute;
  left: 835px;
  width: 10px;
  height: 10px;
  background:#27CC81;
  border-radius: 100%;
  top:353px;
}
#année{
  position: absolute;
  left: 900px;
  color: white;
  top:515px;
  font-style: normal;;
  font-size: 14px;
}
.photo h2{
  position: absolute;
  left: 560px;
  color: white;
  top:400px;
  font-style: normal;;
  font-size: 34px;

}
.photo h6{
  position: absolute;
  left: 850px;
  color: white;
  top:350px;
  font-style: normal;;
  font-size: 14px;
}
#submit-btn{
  position: absolute;
  width: 200px;
  height: 40px;
  background-color: magenta;
  left: 800px;
  color: white;
  top: 600px;
  font-style: italic;
  font-size: 24px;
}
.caractère h1{
  position: absolute;
  left: 830px;
  color: white;
   top: 30px;
   font-family:"Vampiro One";
   font-size: 64px;
 }
.texte1{
  position: absolute;
  left: 780px;
  top: 140px;
  color: white;
}
.texte2{
  position: absolute;
  left: 880px;
  top: 140px;
  color: white;
}
.texte3{
  position: absolute;
  left: 980px;
  top: 140px;
  color: white;
}
.texte4{
  position: absolute;
  left: 1080px;
  top: 140px;
  color: white;
}
// .fa-facebook{
// position: absolute;
// left: 380px;
// top: 60px;
// width: 30px;
// height: 30px;
// border-radius: 100%;
// background-color: magenta;
// color: white;
// }
// .fa-tumblr{
//   position: absolute;
//   left: 420px;
//   top: 60px;
//   width: 30px;
//   height: 30px;
//   border-radius: 100%;
//   background-color: magenta;
//   color: white;
// }
// .fa-instagram{
//   position: absolute;
//   left: 460px;
//   top: 60px;
//   width: 30px;
//   height: 30px;
//   border-radius: 100%;
//   background-color: magenta;
//   color: white;
// }
// .fa-pinterest{
//   position: absolute;
//   left: 500px;
//   top: 60px;
//   width: 30px;
//   height: 30px;
//   border-radius: 100%;
//   background-color: magenta;
//   color: white;
// }
// .fa-reddit{
//   position: absolute;
//   left: 1500px;
//   top: 60px;
//   width: 30px;
//   height: 30px;
//   border-radius: 100%;
//   background-color: magenta;
//   color: white;
// }
.fa-reddit {
  position: absolute;
  left: 1350px;
  top: 60px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: magenta;
  color: white;
}
// .fa-facebook {
//   position: absolute;
//   left: 489px;
//   top: 60px;
//   width: 30px;
//   height: 30px;
//   border-radius: 100%;
//   background-color: magenta;
//   color: white;
// }
.fa-tumblr {
  position: absolute;
  left: 521px;
  top: 60px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: magenta;
  color: white;
}
// .fa-instagram {
//   position: absolute;
//   left: 555px;
//   top: 60px;
//   width: 30px;
//   height: 30px;
//   border-radius: 100%;
//   background-color: magenta;
//   color: white;
// }

// .fa-pinterest {
//   position: absolute;
//   left: 590px;
//   top: 60px;
//   width: 30px;
//   height: 30px;
//   border-radius: 100%;
//   background-color: magenta;
//   color: white;
// }