
body{
  background-color: colors(bg-main);
  // display: grid;
  place-items: center;
}

// .main-container{
//   max-width: value(width-container);
// }

// .articles-section{
//   width: value(width-article);
//   margin:200px;
//   display:flex;
//   margin-top:1rem;

//   }

// .articles-section {
//   // max-width: width;
//   margin: auto;
//   display: flex;
//   // margin-top: 6rem;
//   // margin-left:200px;
//   // margin-right: 200px;
// }
.articles-section {

  margin:auto;
  display: flex;
  margin-top: 8rem;
  width: 1200px;
  // border-top:white solid 5px;

}

.left-container{
  width:value(width-article);
  margin-right:3rem;
  margin-left:3rem;

  }
.article-description h1{
  // font-family:font-family(titre);
  font-family:"Playfair Display";
   font-size: 30px;
   color:white;
}



  .Article{
    width:100%;
    display:flex;
    justify-content:center;
    background:color(bg-article);
    margin-bottom:2rem;
    margin-right: 70rem;

    box-shadow: 0 10px 50px rgba(252, 56, 56,.3);
    }

.article-photo{
width:40%;
object-fit: cover;
}
// img{
//   width:100%;
//   height:100%;
//   }

  /*============ . 1 article =texte===========*/

 /*============ . 1 article =texte===========*/



  .img-icons img{

     object-fit: cover;
    // cursor: pointer;
    // height: 30px;
    // width: 30px;
    //   display: inline-flex;
    //   padding: 15px 20px;
    //   border: none;
    //   font-size: 16px;
    //   text-transform: uppercase;

    //   font-weight: 600;
    //   letter-spacing: 1px;

     /* border: 1px solid rgb(29, 21, 21);*/
      // cursor: pointer;
      position: relative;
      margin: 20px;
      justify-content: center;
      display: inline-flex;
      left: 65%;
  }
// .writer{
//   display:flex;
//   align-items: center;
// }
  .img-writer img{

    object-fit: cover;
        // cursor: pointer;
        height: 30px;
        width:30px;
        border-radius: 50%;
        display: inline-block;
        margin: 2px 10px 4px 8px;
}





  .article-description{
    width:60%;
    margin-left:1.5rem;
    padding:1rem;
    font-family:font-family(titre);

    }
    p{
       font-family:font-family(texte);
      font-size:.8rem;
       color:white;
      line-height:16px;
      margin-top:1rem;


      }
      h2{
        font-family:"Playfair Display";
   font-size: 16px;

    color: white;

      }



  .img img{

    object-fit: cover;
    // cursor: pointer;
    // width:Auteurs(widht-auteur);
    width:80%;
    height: 80%;
    // height:Auteurs(height-auteur);
    border-radius:Auteurs(radius-auteur);
    display: inline-block;

  }
.img-writer img{

object-fit: cover;
    // cursor: pointer;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
  }
.article-description .writer-img{
  display: flex;
  align-items:center ;
  justify-content: left;
  padding: 0 25px;
  height:values(height-image);
}
/*============ . circle Section ============*/


// .article-description h4::before {

//   content: '';
//     height: Auteurs-deco(height-Deco);
//     width: Auteurs-deco(width-Deco) ;
//     background-color: #27CC81;
//     border-radius: 50%;
//     display: inline-block;
//     margin-right: .5rem;
//   }


//   h5::after {

//   content: "";
//     width: Category( width-h5);
//     height:Category( height-h5);
//     background-color:Category(bg-category);
//     display: inline-block;
//     transform: rotate(45deg);
//     margin-left: .8rem;



//   }
//   h3::before {

//     content: "";
//       width: 10px;
//       height: 10px;
//       background-color: #EE3E52;
//       display: inline-block;
//       transform: rotate(45deg);
//       margin-left: .8rem;



//     }

  .date{
    display: inline-flex;
  }
  // .span{
  //   display: inline-flex;
  // }



//   button {
//     display: inline-flex;
//     padding: 15px 20px;
//     border: none;
//     font-size: 16px;
//     text-transform: uppercase;
//     color:colors(but2);
//     font-weight: 600;
//     letter-spacing: 1px;
//     background:colors(but1);

//     border:Button(borde);
//     border:Button(border-ligne);

//     // cursor: pointer;
//     position: relative;
//     margin: 20px;
//     justify-content: center;
//     left: 65%;
// }
img {
  width: 80%;
  height: 80%;
}
button {
  display: inline-flex;
  padding: 16px 20px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #FF7E8E;
  font-weight: 600;
  letter-spacing: 2px;
  background: #FF6071;
  border: 1px solid;
  border: #1d1515;
  position: relative;
  margin: 16px;
  justify-content: center;
  left: 65%;
}
.writer-x h5{
  color:white;
}