$colors:(
  bg-main:#33264E,
  bg-footer: #362953
);

$values:(
  width-container: 1200px,
);
$colors:(
  bg-main:#33264E,
  bg-footer: #362953,
  link-important: #EE3E52,
  but1: #FF6071,
  but2: #FF7E8E,
  cat1: #673AB7,
  cat2: #1E88E5,
  cat3: #27CC81,
  cat4: #38C4D1,
  cat5: #E91E63,
  resSoc1: #63CDF1,
  resSoc2:
  bd-elmtPPL: #27CC81

);

$values:(
  width-container: 1200px,
);