

$values:(
  width-container: 1200px,
  width-article:800px,
  width-sidebar:332px,
  width-carrousel:1600px,

);
$colors:(
  bg-main:#33264E,
  bg-footer: #362953,
  link-important: #EE3E52,
  but1: #FF6071,
  but2: #FF7E8E,
  cat1: #673AB7,
  cat2: #1E88E5,
  cat3: #27CC81,
  cat4: #38C4D1,
  cat5: #E91E63,
  resSoc1: #63CDF1,
  resSoc2: #507cbe,
  resSoc3: #d62976,
  resSoc4: #ee3e52,

);
$font-familly:(
  logo: Vampiro One,
  titre:" Playfair Display",
  texte: Muli,
);
/* Pemière façon d'écrire les VARIABLES */
$bg-color: #673ab7;
$color-text: white;
$span-color: green;
$border-style: solid;
$border-width: 5px;
$color-text2: orange;

/* mon code */


body{
  background-color: $bg-color;
}
div.couleur{
  color: map-get($colors, primary);
  background-color: map-get($colors, secondary);
}
p{
  color: $color-text;
}
span{
  color: $span-color;
}
div{
  border: $color-text $border-style $border-width;
}
div > .min{
  color: $color-text2;
  padding-left: 10px;
  padding-right: 10px;

}
.main-container{
  width: map-get($values, width-div);
  height: map-get($values, height-div);
  border: green solid 3px;
  margin-top: 20px;

}
/* avec le map-get TABLEAU DE VALEURS */
.main-container p{
  color: map-get($colors, primary);
  background-color: map-get($colors, secondary);
  font-family: map-get($values, police);
}
/* avec les FONCTIONS */
.little-container{
  color: color(primary);

}
