*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box{
  background-color: rosybrown;
}
.box2{
  background-color: palevioletred;
}
.box3{
  background:pink ;
}
.box4{
  background:blue;
}
main{
  height: 100vh;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr;
  grid-template-areas:"box box2"
  "box3 box4";
}
.box{
  grid-area:box ;
  display: flex;
  justify-content:space-around ;
  align-items: center;
}
.box2{
grid-area: box2;
}
.box3{
grid-area:box3 ;
}
.box4{
grid-area: box4;
}


.articles-section{
  max-width: 1200px ;
  margin: 0 auto;
  display: flex;
  margin-top: 1rem;
 }
  .left-container{
      width: 60%;
      margin-right: 3rem;
  }
  .first-article {
  width: 100%;
  display: flex;
  justify-content: center;
  background:#33264E ;
  margin-bottom: 2rem;
  }

  .article-photo{
      width: 40%;
  }

   img{
      width: 100%;
      height: 100%;
  }
  .article-description{
      width: 60%;
      margin-left: 1.5rem;
      padding: 1rem 0;
  }

      p{
  font-family:font(text);
  font-size: .6rem;
  color: color(text) ;
  line-height:16px;
  margin-top: 1rem;
  }
}