


.article-description h6::before {





content: '';
	height: 8px;
	width: 8px;
	background-color: #27CC81;
	border-radius: 50%;
	display: inline-block;
	margin-right: .5rem;
}






h5::after {





content: "";
	width: 10px;
	height: 10px;
	background-color: #EE3E52;
	display: inline-block;
	transform: rotate(45deg);
	margin-left: .8rem;



}




.articles-section{
max-width: width 1200px;
margin:0px;
display:flex;
margin-top:1rem;
}
.left-container{
width:60%;
margin-right:3rem;
}
.first-article{
width:100%;
display:flex;
justify-content:center;
background:color(bg-article);
margin-bottom:2rem;
}

.article-photo{
width:40%;
}

img{
width:100%;
height:100%;
}
.article-description{
width:60%;
margin-left:1.5rem;
padding:1rem0;
}

p{
font-family:font(text);
font-size:.6rem;
color:color(text);
line-height:16px;
margin-top:1rem;
}


​.right-container{
  width:40%;
  margin-left:3rem;
  border-bottom: 1px solid #403F44;
  height: 130px;

  }
  .Recent-Posts{
    width:100%;
    display:flex;
    justify-content:center;
    background:color(bg-article);
    margin-bottom:2rem;
    border: chartreuse 5px solid;
    margin-top: 20px;

  justify-content:right;
  /*height: 370px;*/

  max-width: 300px;
  margin:30px;
  background:white;
  /*border-radius: 25px;
  box-shadow: 0 10px 50px rgba(252, 56, 56,.3);
  top: 50%;
    color: #0d0925;
    z-index: 11;*/

    /*-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
    }

    .Posts-photo{
      width:30%;
      border: chartreuse 5px solid;
    margin-top: 20px;
      }

      img{
      width:100%;
      height:100%;
      }
      .Post-description{
      width:60%;
      margin-left:1.5rem;
      padding:1rem0;
      border: chartreuse 5px solid;
    margin-top: 20px;
      }

      p{
      font-family:font(text);
      font-size:.6rem;
      color:color(text);
      line-height:16px;
      margin-top:1rem;
      }

      .Social-Profiles{
        width:100%;
        display:flex;
        justify-content:center;
        background:color(bg-article);
        margin-bottom:2rem;

      justify-content:right;
      /*height: 370px;*/

      max-width: 300px;
      margin:30px;
      background:white;
      border: chartreuse 5px solid;
    margin-top: 20px;

      /*border-radius: 25px;
      box-shadow: 0 10px 50px rgba(252, 56, 56,.3);
      top: 50%;
        color: #0d0925;
        z-index: 11;*/

        /*-webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);*/
        }

        .Twitter-icons{
          width:30%;
          border: chartreuse 5px solid;
    margin-top: 20px;

          }

          img{
          width:100%;
          height:100%;
          }
          .Twitter-texte{
          width:60%;
          margin-left:1.5rem;
          padding:1rem0;
          border: chartreuse 5px solid;
    margin-top: 20px;
    background:palevioletred;
          }




    /*.horizontal_list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
      .horizontal_list li {
        float: left;
      }
      .horizontal_list li:before {
        content: none;
      }
      .horizontal_list li {
        padding-left: 0;
        text-indent: 0;
      }

    .horizontal_line{
      margin: 34px 0 0 30px;
      height: 26px;
      position: relative;
    }
      .line_left,
      .line_right{
        border-top: 1px solid #434247;
        width: 305px;
        margin-top: 13px;
      }
      .line_left{
        float: left;
      }
      .line_right {
        float: right;
      }
      .left_circle,
      .central_circle,
      .right_circle {
        background: rgb(69,68,73);
        background: rgba(255,255,255, 0.15);
        position: absolute;
        border-radius: 50px;
      }
      .left_circle,
      .right_circle {
        width: 13px;
        height: 13px;
        top: 7px;
      }
      .left_circle{
        left: 314px;
      }
      .central_circle{
        width: 26px;
        height: 26px;
        top: 0px;
        left: 322px;
      }
      .right_circle{
        left: 343px;
      }
