*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box{
  background-color: rosybrown;
}
.box2{
  background-color: palevioletred;
}
.box3{
  background:pink ;
}
.box4{
  background:blue;
}
main{
  height: 100vh;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr;
  grid-template-areas:"box box2"
  "box3 box4";
}
.box{
  grid-area:box ;
  display: flex;
  justify-content:space-around ;
  align-items: center;
}
.box2{
grid-area: box2;
}
.box3{
grid-area:box3 ;
}
.box4{
grid-area: box4;
}