*{
  margin: 0;
  padding: 0;
  block-size: border-box;
}
body{
  display: flex;
  align-items:center ;
  /*justify-content:center;*/
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background:#33264E;

  /*border: chartreuse 5px solid;
    border-radius: 20px;
    padding: 50px;
    margin: 10px;
    width: 50%;*/

}
.container-left{
  display: flex;
  align-items:center ;
  /*justify-content:center;*/
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  background:#33264E;
  /*border: chartreuse 5px solid;
    border-radius: 20px;
    padding: 50px;
    margin: 10px;
    width: 50%;*/

}

.blog-article{
  position:absolute;
  align-items:center ;
  justify-content:left;
  height: 370px;
  width:95%;
  max-width: 800px;
  margin:30px;
  background:white;
  border-radius: 25px;
  box-shadow: 0 10px 50px rgba(252, 56, 56,.3);
  top: 50%;
    color: #0d0925;
    z-index: 11;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*border: chartreuse 5px solid;
    border-radius: 20px;
    padding: 50px;
    margin: 10px;
    width: 50%;*/



}
.blog-article .img-article{
  display: flex;
  align-items:center ;
  justify-content: center;
  padding: 0 25px;
  height: 360px;
  /*border: chartreuse 5px solid;
    border-radius: 20px;
    padding: 50px;
    margin: 10px;
    width: 50%;*/
}

.img-article .img {
  height: 260px;
  width: 260px;
  overflow: hidden;
  flex-shrink: 0;
  /*border: chartreuse 5px solid;
    border-radius: 20px;
    padding: 50px;
    margin: 10px;
    width: 50%;*/


}
.img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
 /* border: chartreuse 5px solid;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;*/


}
.content{
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  border: chartreuse 5px solid;
    border-radius: 20px;
    padding: 5px;
    /*margin: 10px;
    width: 50%;*/

}
.content span{
  display:block ;
  color: blue;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  border: chartreuse 5px solid;
    border-radius: 20px;
    /*padding: 50px;
    margin: 10px;
    width: 50%;*/

}
.content title{
  display: flex;
  font-size: 30px;
  font-family: ' Playfair Display';
  font-weight: 700;
  color: #0d0925;
  margin-bottom:20px  ;
  /*border: chartreuse 5px solid;
    border-radius: 20px;
    padding: 50px;
    margin: 10px;
    width: 50%;*/

}
.title{

	height: 20px;
	width: 20px;
	background-color: #27CC81;
	border-radius: 50%;
	display: inline-block;
  margin-right: .5rem;
  margin-bottom: 15px;
}
/*.h4{

	height: 20px;
	width: 20px;
	background-color: #27CC81;
	border-radius: 50%;
	display: inline-block;
	margin-right: .5rem;
}*/

.content text{
  font-size: 19px;
  line-height: 1.5em;
  color: #4e4a67;
  margin-bottom:30px;

  text-align: justify;
}

 button{

  display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: palevioletred;
    font-weight: 600;
    letter-spacing: 1px;
    background: #FF6071;
    border: 1px solid rgb(29, 21, 21);
    cursor: pointer;
    position: relative;
    margin: 20 px;
    justify-content: center;
    left: 65%;
 }